@import "tailwindcss";

:root {
  --background: black;
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--background);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: var(--background);
  color: var(--background);
  font-family: var(--font-roboto);
}

@theme {
  --breakpoint-xs: 30rem;
}
